

body {
    background-color: rgb(238, 239, 240);
    font-family: sans-serif;
    font-size: 16px;
    padding: 40px;
 
}
 
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5px;
    padding: 40px;
    border: solid rgba(1, 24, 1, 0.151) 0px;
    background-color: rgb(250, 250, 250);
    border-radius: 40px;
    max-width: 600px;
    box-shadow: 0px 2px 5px 0px rgba(29, 29, 21, 0.178);
}

h1 {
    color: green;
    margin-bottom: 40px;
    margin-left: 25px;
    margin-top: 0;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.212);
}

h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    margin-left: 15px;
    margin-top: 0;
    border-radius: 20px;
    width: 200px;
    background-color:rgb(76, 64, 182);
    padding: 10px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.226);
}

.questions {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
}

form select {
    margin-top: 10px;
}

form input, select {
    margin-bottom: 10px;
    outline: none;
}

#origem-destino {
    display: flex;
    width: 280px ;
    justify-content: space-between;
    margin-bottom: 10px;
}

#tempo-de-ligacao  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#tempo {   
    margin-left: 10px;
    height: 20px;
    width: 50px;
}

#showResult {
    display: none;
    align-items: center;
    flex-direction: column;
    margin: 0;
    margin-bottom: 20px;
    border-radius: 50px;
    padding: 20px;
    background-color:rgb(241, 240, 250);
    box-shadow: 3px 3px 4px 1px  rgba(0, 0, 0, 0.158);
}

#showResult label {
    font-weight: bold;
}

input, select {
    font-size: 16px;
    padding: 2px;
    padding-left: 4px;
    border: none;
    border-radius: px;
    color: rgb(60, 47, 146);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.192);
}

#origem {
    color: rgb(0, 85, 212);
}

#destino {
    color: rgb(4, 92, 19);
}

#plano {
    color: rgb(75, 64, 182);
}

button {
    margin-bottom: 36px;
    margin-left: 15px;
    outline: none;
    border: solid 1px rgb(75, 64, 182) ;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border-radius: 20px;
    color: rgb(75, 64, 182) ;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.068);
}

button:hover {
    transition: ease 3s;
    color: rgb(228, 140, 213) ;
    border: solid 1px rgb(228, 140, 213);
    transform: translateY(1px);
    box-shadow: 1px 3px 10px 1px rgba(183, 8, 189, 0.226);
    transition: ease-in-out;
    transition-duration: 0.2s;

}

/**/

#comFaleMais, #semFaleMais {
    margin-left: 5px;
}

.div-resultado {
    display: flex;
    width: 200px;
    margin-left: 20px;
    padding: 4px;
    flex-direction: row;
    color: white;
}

#comFaleMaisCompleta {
    color: rgb(76, 64, 182) ;
}

#semFaleMaisCompleta {
    color: rgb(223, 43, 43) ;
}

#dadosIncorretos, #linhaIndisponivel {
    display: none;
    padding: 20px;
    margin: auto;
    text-align: center;
    align-items: center;
    width: 250px;
    height: 12px;
    background-color: rgb(250, 208, 208);
    border: solid 1px rgb(255, 0, 0);
    border-radius: 25px;
    color: rgb(255, 4, 4);
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.226);
    margin-bottom: 20px;
}

#linhaIndisponivel {
    font-size: 14px;
    height: 45px;
    border-radius: 35px;
}